<h1 class="mt-4 centralizar">Clientes</h1>
<ol class="breadcrumb mb-4 centralizar">
  <li class="breadcrumb-item active ">{{id ?  'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Cliente: </label>
          <select class="form-control" formControlName="idCliente">
              <option value="">Selecione...</option>
              <option *ngFor="let cliente of clientes"[ngValue]="cliente.id" >
                  {{cliente.nome}}
              </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Data: *</label>
          <input type="text" class="form-control"
          formControlName ="dataServico" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Valor: *</label>
          <input type="text" class="form-control"
          formControlName ="valor" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição: *</label>
          <input type="text" class="form-control"
          formControlName ="descricao" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-">
        <button type="submit" class="btn btn-success" [disabled]="formulario.invalid" *ngIf="!id">
          <div class="fa fa-save"></div> SALVAR
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid" *ngIf="id">
          <div class="fa fa-sync-alt"></div> ATUALIZAR
        </button>

        <button type="submit" class="btn btn-danger ml-1" (click)="listaServicosPrestados()">
          <div class="fa fa-arrow-alt-circle-left"></div> VOLTAR
        </button>
      </div>
  </div>


  </form>
</div>
